.preview-markdown-html
  background white
  box-shadow inset 1px 1px 3px rgba(black, 0.2)
  color #222
  font-family sans-serif
  overflow auto
  padding 15px 30px
  
  h1, h2, h3, h4, h5, h6
    color black
    margin 30px 0px 10px
  h1
    font-size 34px
    margin-top 40px
  h2
    font-size 24px
  h3
    font-size 18px
  h4
    font-size 16px
  h5
    font-size 14px
  h6
    font-size 12px
  
  p
    line-height 20px
    margin-top 10px
  
  ul, ol
    margin 20px 40px 
  
  li > ul, li > ol
    margin 5px 40px
  
  code
    background #eee
    font-family 'Inconsolata', monospace
  
  pre
    background #eee
    border 1px solid #ddd
    border-radius 8px
    box-shadow inset 1px 1px 1px rgba(black, 0.06)
    margin 6px
    padding 4px
  
  hr
    background #ccc
    border none
    height 2px
    margin 10px 0px
